body  {
	background: #F8F8F8;
}

.container-fluid {
	margin-bottom: 4rem;
	position: relative;
}

#form-list {
	border: 1px solid #CCC;
	background: #DDD;
	position: fixed;
	top:0;
	width:100%;
	margin:0;
	padding:0;
	z-index: 999;
}

.container-fluid {
	margin-top:9em;
}

#form-interface {
	margin:0;
	padding:0;
}

#form-data	 {
	margin-top:5px;
}

#form-data table {
	margin-bottom: 0;
}

#form-data td {
	padding: .25rem;
}

#form-data	.btn-primary {
	margin-top: .50rem;
	width:40%;
	float:right;
}

#important {
	float:left;
	width:auto;
}

.form-check {
	margin-top: .9rem;
	margin-right: .50rem;
	float:left;
	font-size: 14px;
}

.form-check label {
  margin-top:3px;
  margin-left:5px;
}

#list tr {
  border: 1px solid transparent;
  background: #EEE;
}

#list tr.on {
  border-top: 1px solid #8dabb1;
  border-bottom: 1px solid #8dabb1;
}
#list tr.on td {
	background: #99b4ba;
	border-bottom: 1px solid #8dabb1;
	border-top: 1px solid #8dabb1;
}

footer {
	position: fixed;
	bottom:0;
	width: 100%;
	margin-top:10px;
}

footer div.footer-copyright {
	background: #222a2e;
	color:#FFF;
	font-size: 12px;
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}
